*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,Helvetica,sans-serif;
}

body{
  background:#0B0B0B;
  color:#fff;
}

.container{
  width:92%;
  max-width:420px;
  margin:auto;
  padding:24px 0;
}

.logo{
  text-align:center;
  font-size:34px;
  font-weight:bold;
  color:#D4AF37;
  margin:25px 0;
}

.card{
  background:#171717;
  border:1px solid #2D2D2D;
  border-radius:18px;
  padding:18px;
  margin-bottom:18px;
}

h1,h2,h3{
  color:#D4AF37;
  margin-bottom:12px;
}

p{
  color:#CFCFCF;
  line-height:1.5;
}

input,select{
  width:100%;
  padding:14px;
  margin:8px 0;
  background:#111;
  color:#fff;
  border:1px solid #333;
  border-radius:12px;
  font-size:15px;
}

input:focus,
select:focus{
  outline:none;
  border-color:#D4AF37;
}

button{
  width:100%;
  padding:14px;
  margin-top:10px;
  background:#D4AF37;
  color:#000;
  border:none;
  border-radius:12px;
  font-size:16px;
  font-weight:bold;
}

.outline{
  background:transparent;
  color:#D4AF37;
  border:1px solid #D4AF37;
}

.feature{
  padding:12px 0;
  border-bottom:1px solid #2A2A2A;
}

a{
  color:#D4AF37;
  text-decoration:none;
}
.top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.coin{
background:#D4AF37;
color:#000;
padding:8px 14px;
border-radius:20px;
font-weight:bold;
}

.balance-card{
background:linear-gradient(135deg,#D4AF37,#9C7A12);
padding:22px;
border-radius:20px;
color:#000;
margin-bottom:20px;
}

.balance-card h1{
font-size:34px;
margin-top:8px;
color:#000;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-bottom:18px;
}

.menu{
background:#171717;
border:1px solid #2d2d2d;
border-radius:15px;
padding:20px;
text-align:center;
color:#fff;
font-weight:bold;
}

.support{
background:#111;
border:1px solid #D4AF37;
color:#D4AF37;
padding:15px;
border-radius:14px;
text-align:center;
font-weight:bold;
}

.bottom{
position:fixed;
bottom:0;
left:0;
width:100%;
background:#111;
display:flex;
justify-content:space-around;
padding:12px 0;
border-top:1px solid #333;
}

.bottom div{
text-align:center;
font-size:13px;
color:#aaa;
}

.active{
color:#D4AF37!important;
}

body{
padding-bottom:80px;
  }
