.hero h1{
font-size:28px;
margin-bottom:10px;
}

.hero p{
color:#ccc;
line-height:1.6;
margin-bottom:18px;
text-align:left;
}

.outline{
background:transparent;
color:#D4AF37;
border:1px solid #D4AF37;
}

.feature{
padding:12px 0;
border-bottom:1px solid #2a2a2a;
color:#ddd;
}
select{
appearance:none;
}

input:focus,
select:focus{
outline:none;
border:1px solid #D4AF37;
}

h2{
text-align:center;
margin-bottom:18px;
}
